<div class="price-container" *ngIf="fullCart">
  <div class="price-headerContainer">
    <h2 class="price-header">{{ fullCart.name }}</h2>
    <div class="price-info">
      <div class="price-label">Бюджет</div>
      <div class="price-amount">
        {{ fullCart.price | number : "1.0-0" : "ru-RU" }}
      </div>
    </div>
    <a
      class="price-button"
      routerLink="/order"
      [queryParams]="{ prop: choosenProps() }"
      [state]="{ymGoalName: 'full-OrderLinkClick'}"
    >
      Заказать сейчас
    </a>
  </div>

  <div class="price-optionsContainer">
    <button
      class="price-expandButton"
      [ngClass]="{ expanded: isOpen }"
      (click)="toggleExpansion()"
    >
      <span>{{ isOpen ? "Свернуть детали" : "Подробнее о тарифе" }}</span>
      <span class="expand-icon">▼</span>
    </button>

    <div
      class="price-content"
      [ngClass]="{ expanded: isOpen, collapsed: !isOpen }"
    >
      <div class="price-contentInner">
        <div class="price-optionContainer">
          <div class="price-optionList">
            <div
              class="price-optionItem isChosen"
              *ngFor="let option of fullCart.inclusion"
            >
              <span class="tick">&#10004;</span>
              <span class="option-text">{{ option }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
