<div class="header-nav-bar flex gap-0">
  <a
    class="navBar-button cursor-pointer"
    *ngFor="let content of dataService.navButtonsContent"
    (click)="close.emit(false)"
    [routerLink]="content.path"
    [state]="{ ymGoalName: 'navBar-NavigationTo' + content.enTitle }"
  >
    <div class="navBar-button-eng">
      {{ content.enTitle }}
    </div>
    <div class="navBar-button-ru display-none cursor-pointer">
      {{ content.ruTitle }}
    </div>
  </a>
  <socials class="navBar-socialContainer"></socials>
</div>
<div class="navBar-bg" #navBarBg></div>
