<form class="order-container" [formGroup]="orderForm">
  <input
    name="phone"
    formControlName="phone"
    prefix="+7 "
    [showMaskTyped]="true"
    mask="(000)000-00-00"
  />
  <div
    [ngClass]="{
      visible:
        orderForm.controls['phone'].errors &&
        orderForm.controls['phone'].touched
    }"
    class="form-alert"
  >
    <ng-container
      *ngIf="
        orderForm.controls['phone'].errors &&
          orderForm.controls['phone'].errors['required'];
        else formatError
      "
    >
      Укажите телефонный номер
    </ng-container>
    <ng-template #formatError> Неверный формат </ng-template>
  </div>
  <input placeholder="Имя" name="name" formControlName="name" />
  <div
    [ngClass]="{
      visible:
        orderForm.controls['name'].invalid && orderForm.controls['name'].touched
    }"
    class="form-alert"
  >
    Укажите своё имя
  </div>
  <div class="checkbox-container">
    <input type="checkbox" formControlName="checkboxPolicy"/>
    <div class="warning-text">Я ознакомлен с <a target="_blank" href="./assets/documents/Off_Prod_Policy_Agreement.pdf">пользовательским соглашением </a> </div>
  </div>
  <div class="checkbox-container">
    <input type="checkbox" formControlName="checkboxAds"/>
    <div class="warning-text">Я даю согласие на получение рекламных и информационных материалов </div>
  </div>
    
  <button 
    [disabled]="orderForm.invalid" 
    class="cursor-pointer"
    (click)="submit()"
  >
    Отправить
  </button>
</form>
