@media (max-width: 950px) {
  // .header-button {
  //     height: 45px;
  // }
  // .header-cirkle {
  //     width: 45px;
  // }
  .header-telephone {
    display: none;
  }
  .header-container {
    padding: 8px 20px;
  }
  .h-72 {
    height: 64px;
  }
  //   .hamburger-icon {
  //     margin: 15px;
  //   }
}

@media (max-width: 680px) {
  .header-logo {
    display: none;
  }
}

@media (max-width: 500px) {
  .socials-container {
    display: none;
  }
}
