<div class="header-container h-72">
  <div class="bgRect" #bgRect></div>
  <div class="flex space-between gap-10 section p-0">
    <div class="flex gap-30 align-items-center">
      <div
        class="header-button header-cirkle navBarOpen-button cursor-pointer"
        (click)="isNavBarOpen$.next(!isNavBarOpen$.value)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          [ngClass]="{ 'cross-icon': (isNavBarOpen$ | async) }"
          class="hamburger-icon cursor-pointer"
          width="44"
          height="44"
          viewBox="0 0 48 48"
        >
          <rect
            class="top cursor-pointer"
            x="0"
            y="0"
            rx="4"
            ry="4"
            width="100%"
            height="8"
          />
          <rect
            class="middle cursor-pointer"
            x="0"
            y="20"
            rx="4"
            ry="4"
            width="100%"
            height="8"
          />
          <rect
            class="bottom cursor-pointer"
            x="0"
            y="40"
            rx="4"
            ry="4"
            width="100%"
            height="8"
          />
        </svg>
      </div>
      <a class="header-logo cursor-pointer" routerLink="">OFF.PRODUCTION</a>
    </div>

    <div class="flex-center align-items-start gap-20">
      <a
        class="header-button cursor-pointer header-telephone"
        [href]="'tel:' + dataService.phoneNumber"
      >
        {{ dataService.phoneNumber }}
      </a>
      <a class="header-button cursor-pointer" routerLink="order">
        СВЯЗАТЬСЯ С НАМИ
      </a>
      <div class="socials-container">
        <socials></socials>
      </div>
    </div>
    <navBar
      *ngIf="isNavBarOpen$ | async as isNavBarOpen"
      (close)="isNavBarOpen$.next(false)"
    ></navBar>
  </div>
</div>
