@import '../../../styles.scss';

.header-container {
    width: 100%;
    height: 85px;
    padding: 12px 40px;
    position: sticky;
    top: 0;
    z-index: 10;

    >* {
        flex: 1;
    }
}
.bgRect {
    width: 100%;
    height: 0;
    background-color: $base-color-2;
    transition: height 0.5s ease-out;
    -webkit-transition: height 0.5s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.h-86 {
   height: 85px;
}

.flex {
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.justify-content-end{
    justify-content: end;
}
.gap-20 {
    gap: 20px
}
.gap-0 {
    gap: 0;
}
.gap-30{
    gap: 30px
}
.header-button{
    @include flex-center;
    background-color: $base-color-1;
    border-radius: 13px;
    text-align: center;
    vertical-align: middle;
    padding: 10px 25px;
    flex: 1;
    max-width: 230px;
    z-index: 10;
    text-wrap: wrap;
    font-size: 1rem;

    &:hover {
        background-color: $base-color-3;
    }
}
.media-button-text{
    display: inline-block;
    -webkit-transition:
        rotate 0.2s linear;
    transition:
        rotate 0.2s linear;

}
.mediaContainer{
    width: 60px;
    height: max-content;

}
.header-cirkle {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    padding: 0;
    flex: 0
}

.display-none{
    display: none;
}

.cursor-pointer {
    cursor: pointer;
}
.media-popap{
    position: relative;
    top: 10px;
    left: -15px;
    width: 90px;
}

.media-container{
    padding: 10px;
    flex-direction: column;
    border-radius: 13px;
    background-color: $base-color-3;
}

.rotate-45 {
    rotate: -45deg;
}
.align-items-center {
    align-items: center;
}
.header-logo {
    color: $base-color-1;
    z-index: 11;
}
.navBarOpen-button {
    z-index: 12;
}

.mediaContainer {
    z-index: 10;
}
.hamburger-icon {
    margin: 20px;
}
.hamburger-icon rect {
    transition: all 0.2s ease-in-out;
}

.cross-icon {
    .top,.bottom {
        transform-origin: center;
    }
    .top {
        transform: rotate(45deg)
          translate(0, 20px);
    }
    .bottom {
        transform: rotate(-45deg)
          translate(0, -20px);
    }
    .middle {
        opacity: 0;
    }
}
  
.hamburger-icon:hover rect {
    fill: var(--icon-active-color);
}

.social {
    padding: 2.5px 0;
    border-bottom: 1px $base-color-2 solid;
}