@import "../../../styles.scss";
:host {
  background: radial-gradient(closest-corner, $base-color-3, $base-color-1);
  box-shadow: 0 0 40px 40px $base-color-1 inset;
  min-height: calc(100vh - 72px);
  @include section();
}
.carouselContainer {
  padding: 0 5%;
  margin: 0 auto;
  background-color: transparent;
}
::ng-deep.owl-carousel .owl-stage {
  display: flex;
}
.header {
  background-color: transparent;
}

.price-container {
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 4rem;

  @media (max-width: 900px) {
    flex-wrap: wrap;
    > * {
      min-width: 100%;
    }
  }
}
