<div class="patners-bg">нас выбирают</div>
<div class="patners-container">
  <div
    class="marquee-row"
    *ngFor="let line of partnersLines; index as i"
    [class.reverse]="i % 2 !== 0"
  >
    <div class="marquee-content">
      <ng-container *ngIf="i % 2 === 0; else images">
        <ng-container *ngFor="let _ of [0, 1]">
          <span class="partner-span" *ngFor="let partner of line">
            {{ partner }}
          </span>
        </ng-container>
      </ng-container>
      <ng-template #images>
        <ng-container *ngFor="let _ of [0, 1]">
          <img
            class="partner-img"
            *ngFor="let src of line"
            [src]="src"
            alt="partner logo"
          />
        </ng-container>
      </ng-template>
    </div>
  </div>
</div>
