<div class="patners-bg">нас выбирают</div>
<div class="patners-container">
  <div
    class="marquee-row"
    *ngFor="let partnersLine of partnersLines; let i = index"
    [ngClass]="{ reverse: i % 2 !== 0 }"
  >
    <div class="marquee-content">
      <ng-container *ngIf="i % 2 === 0; else imgs">
        <span class="partner-span" *ngFor="let partner of partnersLine">
          {{ partner }}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        <!-- Дублируем контент для бесшовности -->
        <span class="partner-span" *ngFor="let partner of partnersLine">
          {{ partner }}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
      </ng-container>
      <ng-template #imgs>
        <img
          class="partner-img"
          *ngFor="let partner of partnersLine"
          [src]="partner"
        />
        <!-- Дублируем изображения для бесшовности -->
        <img
          class="partner-img"
          *ngFor="let partner of partnersLine"
          [src]="partner"
        />
      </ng-template>
    </div>
  </div>
</div>
