@import '../../../../../styles.scss';

.patners-bg {
    height: 30vh;
    color: $base-color-3;
    font-size: 27vh;
    font-weight: 600;
    text-transform: lowercase;
    margin-top: 60px;
}

.patners-container {
    height: 30vh;
    width: 100%;
    margin-top: -30vh;
    display: flex;
    flex-direction: column;

    >* {
        flex: 1;
    }
}

.partner-span {
    line-height: 60px;
    font-size: 20px;
}
