@import "../../../styles.scss";

:host {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;

  @media (min-width: 651px) {
    display: none;
  }
}

.contact-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 56px;
  height: 56px;
  background-color: $base-color-2;
  color: $base-color-1;
  border-radius: 100px;
  border: 1px solid $base-color-1;
  text-decoration: none;
  overflow: hidden;
  transition: width 0.2s ease, border-radius 0.2s ease;

  .icon {
    font-size: 24px;
    transition: opacity 0.2s ease;
    color: $base-color-1;
    margin-right: 15px;
  }

  .label {
    white-space: nowrap;
    margin-left: 8px;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: $base-color-1;
    margin-right: 10px;
  }

  &:hover {
    width: 200px;
    border-radius: 20px 30px 30px 20px;

    .label {
      opacity: 1;
    }
  }
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  line-height: 1;
  display: inline-block;
}
