<div class="about-container section">
  <div class="flex gap-10">
    <div class="flex flex-50 flex-column gap-40 p-1r">
      <div class="arrow-container">
        <img
          data-aos="fade-left"
          data-aos-delay="400"
          src="./assets/arrow-left.svg"
          alt="arrow-left"
          class="arrow-left"
        />
        <img
          data-aos="fade-left"
          data-aos-delay="200"
          src="./assets/arrow-left.svg"
          alt="arrow-left"
          class="arrow-left"
        />
        <img
          data-aos="fade-left"
          src="./assets/arrow-left.svg"
          alt="arrow-left"
          class="arrow-left"
        />
      </div>
      <div class="about-text" data-aos="fade-right">
        Мы - команда, которая занимается видеопродакшеном уже 10 лет. Берёмся за
        любой уровень сложности ваших проектов. Снимаем, монтируем и даже
        транслируем в прямом эфире. Мы всегда на связи и готовы оперативно
        браться за работу. <br />
        <span>Official Full Frame production</span> - когда видео надо делать
        профессионально
      </div>
    </div>

    <img
      data-aos="fade-left"
      class="about-img"
      src="./assets/celovek-snimausii-na-professional-nuu-kameru.jpg"
    />
  </div>
</div>
