@import '../../../../styles.scss';

:host{
  --video-container-width: 80vw;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.video-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #111;
  padding: 1rem;
  width: var(--video-container-width);
  @media (max-width: 660px) {
    padding: 2rem 1rem 1rem;
  }
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.close-btn {
  position: absolute;
  @media (max-width: 660px) {
    top: 0.25rem;
  }
  z-index: 11;
  right: 0.5rem;
  top: 0.5rem;
  font-size: 1.5rem;
  color: $base-color-3;
  background: transparent;
  border: none;
  cursor: pointer;
  user-select: none;
  transition: color 0.25s ease;

  &:hover {
    color: $base-color-1;
  }
}

.video-title {
  margin: 0.5rem 0 0 0;
  color: $base-color-3;
  text-align: center;
}

.video-partner {
  margin: 0 0 1rem 0;
  color: #ccc;
  font-weight: 400;
  font-size: 0.9rem;
}

video {
  border-radius: 6px;
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  outline: none;
}

.nav-arrow {
  --arrow-size: 3rem;
  z-index: 11;
  position: absolute;
  top: 50%;
  font-size: var(--arrow-size);
  color: $base-color-3;
  background: transparent;
  border: none;
  cursor: pointer;
  user-select: none;
  transform: translateY(-50%);
  padding: 0 0.2rem;
  transition: color 0.25s ease;

  &:hover {
    color: $base-color-1;
  }

  @media (max-width: 550px) {
    --arrow-size: 2rem;
    top: 55%;
  }
}

.nav-arrow.left {
  left: calc((100vw - var(--video-container-width))/2 - var(--arrow-size) - 1vw);
}

.nav-arrow.right {
  right: calc((100vw - var(--video-container-width))/2 - var(--arrow-size) - 1vw);
}
