@import "../../../../styles.scss";
:host {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 48px;
  a {
    height: 48px;
  }
  img {
    width: 48px;
    height: 48px;
    cursor: pointer;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }
  img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
  }
}
