@import '../../../styles.scss';
.tiling-container {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.case-container {
    width: 49%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px $base-color-3 solid;
    border-radius: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.img-container {
    width: 100%;
    aspect-ratio: 14/9;
}

.tiling-partner {
    text-align: end;
    color: $base-color-3;
}

.tiling-title {
    font-size: 1rem;
}